@charset "UTF-8";:root {
  --ct-logo-lg-height: 22px;
  --ct-logo-sm-height: 22px;
  --ct-leftbar-width: 260px;
  --ct-leftbar-width-md: 160px;
  --ct-leftbar-width-sm: 70px;
  --ct-leftbar-condensed-height: 2000px;
  --ct-topbar-height: 70px;
  --ct-menu-item-icon-size: 1.2rem;
  --ct-menu-item-font-size: 0.9375rem;
  --ct-menu-item-padding-x: 10px;
  --ct-menu-item-padding-y: 15px;
  --ct-menu-condensed-link-bg: #536de6;
  --ct-footer-height: 60px;
  --ct-theme-card-border-width: 0px
}

html[data-menu-color=light] {
  --ct-menu-bg: #ffffff;
  --ct-menu-item-color: #6c757d;
  --ct-menu-item-hover-color: #536de6;
  --ct-menu-item-active-color: #536de6;
  --ct-help-box-bg: #536de6
}

html[data-menu-color=dark] {
  --ct-menu-bg: #313a46;
  --ct-menu-item-color: #8391a2;
  --ct-menu-item-hover-color: #bccee4;
  --ct-menu-item-active-color: #ffffff;
  --ct-help-box-bg: rgba(255, 255, 255, 0.07)
}

html[data-menu-color=brand] {
  --ct-menu-bg: linear-gradient(135deg, #6379c3 0%, #546ee5 60%);
  --ct-menu-item-color: #cedce4;
  --ct-menu-item-hover-color: #ffffff;
  --ct-menu-item-active-color: #ffffff;
  --ct-help-box-bg: rgba(255, 255, 255, 0.07)
}

html[data-bs-theme=dark][data-menu-color=dark],html[data-bs-theme=dark][data-menu-color=light] {
  --ct-menu-bg: #3a444e;
  --ct-menu-item-color: #8391a2;
  --ct-menu-item-hover-color: #bccee4;
  --ct-menu-item-active-color: #ffffff;
  --ct-help-box-bg: rgba(255, 255, 255, 0.07)
}

html[data-topbar-color=light] {
  --ct-topbar-bg: #ffffff;
  --ct-topbar-item-color: #6c757d;
  --ct-topbar-item-hover-color: #536de6;
  --ct-topbar-search-bg: #f0f3f8;
  --ct-topbar-user-bg: #fafafd;
  --ct-topbar-user-border: #eef2f7
}

html[data-topbar-color=dark] {
  --ct-topbar-bg: #313a46;
  --ct-topbar-item-color: #8391a2;
  --ct-topbar-item-hover-color: #bccee4;
  --ct-topbar-search-bg: #464f5b;
  --ct-topbar-user-bg: #3c4655;
  --ct-topbar-user-border: #414d5d
}

html[data-topbar-color=brand] {
  --ct-topbar-bg: #8f75da;
  --ct-topbar-item-color: rgba(255, 255, 255, 0.7);
  --ct-topbar-item-hover-color: #ffffff;
  --ct-topbar-search-bg: rgba(255, 255, 255, 0.1);
  --ct-topbar-user-bg: rgba(255, 255, 255, 0.1);
  --ct-topbar-user-border: rgba(255, 255, 255, 0.15)
}

html[data-bs-theme=dark][data-topbar-color=dark],html[data-bs-theme=dark][data-topbar-color=light] {
  --ct-topbar-bg: #3a444e;
  --ct-topbar-item-color: #8391a2;
  --ct-topbar-item-hover-color: #bccee4;
  --ct-topbar-search-bg: #464f5b;
  --ct-topbar-user-bg: #3c4655;
  --ct-topbar-user-border: #414d5d
}

/*!
* Bootstrap  v5.3.3 (https://getbootstrap.com/)
* Copyright 2011-2024 The Bootstrap Authors
* Licensed under MIT (https://github.com/twbs/bootstrap/blob/main/LICENSE)
*/
:root,[data-bs-theme=light] {
  --ct-blue: #3d73dd;
  --ct-indigo: #727cf5;
  --ct-purple: #536de6;
  --ct-pink: #ff679b;
  --ct-red: #ff5b5b;
  --ct-orange: #fd7e14;
  --ct-yellow: #f9c851;
  --ct-green: #10c469;
  --ct-teal: #02a8b5;
  --ct-cyan: #35b8e0;
  --ct-black: #000;
  --ct-white: #fff;
  --ct-gray: #8a969c;
  --ct-gray-dark: #343a40;
  --ct-gray-100: #f6f7fb;
  --ct-gray-200: #eef2f7;
  --ct-gray-300: #dee2e6;
  --ct-gray-400: #ced4da;
  --ct-gray-500: #a1a9b1;
  --ct-gray-600: #8a969c;
  --ct-gray-700: #6c757d;
  --ct-gray-800: #343a40;
  --ct-gray-900: #313a46;
  --ct-primary: #536de6;
  --ct-secondary: #6c757d;
  --ct-success: #10c469;
  --ct-info: #35b8e0;
  --ct-warning: #f9c851;
  --ct-danger: #ff5b5b;
  --ct-light: #eef2f7;
  --ct-dark: #313a46;
  --ct-primary-rgb: 83,109,230;
  --ct-secondary-rgb: 108,117,125;
  --ct-success-rgb: 16,196,105;
  --ct-info-rgb: 53,184,224;
  --ct-warning-rgb: 249,200,81;
  --ct-danger-rgb: 255,91,91;
  --ct-light-rgb: 238,242,247;
  --ct-dark-rgb: 49,58,70;
  --ct-primary-text-emphasis: #212c5c;
  --ct-secondary-text-emphasis: #8a969c;
  --ct-success-text-emphasis: #064e2a;
  --ct-info-text-emphasis: #154a5a;
  --ct-warning-text-emphasis: #645020;
  --ct-danger-text-emphasis: #662424;
  --ct-light-text-emphasis: #6c757d;
  --ct-dark-text-emphasis: #6c757d;
  --ct-primary-bg-subtle: #eef0fd;
  --ct-secondary-bg-subtle: #f6f7fb;
  --ct-success-bg-subtle: #e7f9f0;
  --ct-info-bg-subtle: #ebf8fc;
  --ct-warning-bg-subtle: #fefaee;
  --ct-danger-bg-subtle: #ffefef;
  --ct-light-bg-subtle: #fbfbfd;
  --ct-dark-bg-subtle: #ced4da;
  --ct-primary-border-subtle: #bac5f5;
  --ct-secondary-border-subtle: #eef2f7;
  --ct-success-border-subtle: #9fe7c3;
  --ct-info-border-subtle: #aee3f3;
  --ct-warning-border-subtle: #fde9b9;
  --ct-danger-border-subtle: #ffbdbd;
  --ct-light-border-subtle: #eef2f7;
  --ct-dark-border-subtle: #a1a9b1;
  --ct-white-rgb: 255,255,255;
  --ct-black-rgb: 0,0,0;
  --ct-font-sans-serif: "Nunito",sans-serif;
  --ct-font-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
  --ct-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --ct-body-font-family: var(--ct-font-sans-serif);
  --ct-body-font-size: 0.9rem;
  --ct-body-font-weight: 400;
  --ct-body-line-height: 1.5;
  --ct-body-color: #6c757d;
  --ct-body-color-rgb: 108,117,125;
  --ct-body-bg: #ffffff;
  --ct-body-bg-rgb: 250,251,254;
  --ct-emphasis-color: rgba(108, 117, 125, 0.75);
  --ct-emphasis-color-rgb: 108,117,125;
  --ct-secondary-color: #8a969c;
  --ct-secondary-color-rgb: 138,150,156;
  --ct-secondary-bg: #fff;
  --ct-secondary-bg-rgb: 255,255,255;
  --ct-tertiary-color: #6c757d;
  --ct-tertiary-color-rgb: 108,117,125;
  --ct-tertiary-bg: #f6f7fb;
  --ct-tertiary-bg-rgb: 246,247,251;
  --ct-heading-color: inherit;
  --ct-link-color: #536de6;
  --ct-link-color-rgb: 83,109,230;
  --ct-link-decoration: none;
  --ct-link-hover-color: #475dc4;
  --ct-link-hover-color-rgb: 71,93,196;
  --ct-code-color: #35b8e0;
  --ct-highlight-color: #6c757d;
  --ct-highlight-bg: #fef4dc;
  --ct-border-width: 1px;
  --ct-border-style: solid;
  --ct-border-color: #dee2e6;
  --ct-border-color-translucent: #dee2e6;
  --ct-border-radius: 0.25rem;
  --ct-border-radius-sm: 0.2rem;
  --ct-border-radius-lg: 0.3rem;
  --ct-border-radius-xl: 1rem;
  --ct-border-radius-xxl: 2rem;
  --ct-border-radius-2xl: var(--ct-border-radius-xxl);
  --ct-border-radius-pill: 50rem;
  --ct-box-shadow: 0px 0px 35px 0px rgba(154, 161, 171, 0.15);
  --ct-box-shadow-sm: 0 0.125rem 0.25rem rgba(var(--ct-body-color-rgb), 0.15);
  --ct-box-shadow-lg: 0 0 45px 0 rgba(var(--ct-body-color-rgb), 0.2);
  --ct-box-shadow-inset: inset 0 1px 2px rgba(var(--ct-body-color-rgb), 0.075);
  --ct-focus-ring-width: 0.15rem;
  --ct-focus-ring-opacity: 0.25;
  --ct-focus-ring-color: rgba(83, 109, 230, 0.25);
  --ct-form-valid-color: #10c469;
  --ct-form-valid-border-color: #10c469;
  --ct-form-invalid-color: #ff5b5b;
  --ct-form-invalid-border-color: #ff5b5b
}

[data-bs-theme=dark] {
  color-scheme: dark;
  --ct-body-color: #aab8c5;
  --ct-body-color-rgb: 170,184,197;
  --ct-body-bg: #343a40;
  --ct-body-bg-rgb: 52,58,64;
  --ct-emphasis-color: #dee2e6;
  --ct-emphasis-color-rgb: 222,226,230;
  --ct-secondary-color: #8391a2;
  --ct-secondary-color-rgb: 131,145,162;
  --ct-secondary-bg: #37404a;
  --ct-secondary-bg-rgb: 55,64,74;
  --ct-tertiary-color: #f1f1f1;
  --ct-tertiary-color-rgb: 241,241,241;
  --ct-tertiary-bg: #404954;
  --ct-tertiary-bg-rgb: 64,73,84;
  --ct-primary-text-emphasis: #98a7f0;
  --ct-secondary-text-emphasis: #dee2e6;
  --ct-success-text-emphasis: #70dca5;
  --ct-info-text-emphasis: #86d4ec;
  --ct-warning-text-emphasis: #fbde97;
  --ct-danger-text-emphasis: #ff9d9d;
  --ct-light-text-emphasis: #f6f7fb;
  --ct-dark-text-emphasis: #dee2e6;
  --ct-primary-bg-subtle: rgba(var(--ct-primary-rgb), 0.15);
  --ct-secondary-bg-subtle: rgba(108, 117, 125, 0.15);
  --ct-success-bg-subtle: rgba(var(--ct-success-rgb), 0.15);
  --ct-info-bg-subtle: rgba(var(--ct-info-rgb), 0.15);
  --ct-warning-bg-subtle: rgba(var(--ct-warning-rgb), 0.15);
  --ct-danger-bg-subtle: rgba(var(--ct-danger-rgb), 0.15);
  --ct-light-bg-subtle: rgba(var(--ct-light-rgb), 0.15);
  --ct-dark-bg-subtle: rgba(var(--ct-dark-rgb), 0.15);
  --ct-primary-border-subtle: #32418a;
  --ct-secondary-border-subtle: #6c757d;
  --ct-success-border-subtle: #0a763f;
  --ct-info-border-subtle: #206e86;
  --ct-warning-border-subtle: #957831;
  --ct-danger-border-subtle: #993737;
  --ct-light-border-subtle: #6c757d;
  --ct-dark-border-subtle: #343a40;
  --ct-heading-color: #aab8c5;
  --ct-link-color: #98a7f0;
  --ct-link-hover-color: #a7b4f2;
  --ct-link-color-rgb: 152,167,240;
  --ct-link-hover-color-rgb: 167,180,242;
  --ct-code-color: #86d4ec;
  --ct-highlight-color: #dee2e6;
  --ct-highlight-bg: #664d03;
  --ct-border-color: #464f5b;
  --ct-border-color-translucent: #8391a2;
  --ct-form-valid-color: #70dca5;
  --ct-form-valid-border-color: #70dca5;
  --ct-form-invalid-color: #ff9d9d;
  --ct-form-invalid-border-color: #ff9d9d
}

@font-face {
  font-family: Nunito;
  src: url(../fonts/Nunito/Nunito-Light.ttf);
  src: local("Nunito Light"), local("Nunito Light"),
       url(../fonts/Nunito/Nunito-Light.ttf) format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Nunito;
  src: url(../fonts/Nunito/Nunito-Regular.ttf);
  src: local("Nunito Regurlar"), local("Nunito Regular"),
       url(../fonts/Nunito/Nunito-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Nunito;
  src: url(../fonts/Nunito/Nunito-Medium.ttf);
  src: local("Nunito Medium"), local("Nunito Medium"),
       url(../fonts/Nunito/Nunito-Medium.ttf) format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Nunito;
  src: url(../fonts/Nunito/Nunito-SemiBold.ttf);
  src: local("Nunito SemiBold"), local("Nunito SemiBold"),
       url(../fonts/Nunito/Nunito-SemiBold.ttf) format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: Nunito;
  src: url(../fonts/Nunito/Nunito-Bold.ttf);
  src: local("Nunito Bold"), local("Nunito Bold"),
       url(../fonts/Nunito/Nunito-Bold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
}

*,::after,::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@media (prefers-reduced-motion:no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

body {
  margin: 0;
  font-family: var(--ct-body-font-family);
  font-size: var(--ct-body-font-size);
  font-weight: var(--ct-body-font-weight);
  line-height: var(--ct-body-line-height);
  color: var(--ct-body-color);
  text-align: var(--ct-body-text-align);
  background-color: var(--ct-body-bg);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  }

  h1, h2, h3, h4, h5, h6,
  .h1, .h2, .h3, .h4, .h5, .h6 {
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: 700;
    line-height: 1.1;
    color: var(--ct-heading-color);
  }

  .h1, h1 {
    font-size: calc(1.35rem + 1.2vw);
  }

  @media (min-width: 1200px) {
    .h1, h1 {
      font-size: 2.25rem;
    }
  }

  .h2, h2 {
    font-size: calc(1.3122rem + .7565vw);
  }

  @media (min-width: 1200px) {
    .h2, h2 {
      font-size: 1.872rem;
    }
  }

  .h3, h3 {
    font-size: calc(1.2753rem + .3036vw);
  }

  @media (min-width: 1200px) {
    .h3, h3 {
      font-size: 1.503rem;
    }
  }

  .h4, h4 {
    font-size: 1.125rem;
  }

  .h5, h5 {
    font-size: .936rem;
  }

  .h6, h6 {
    font-size: .765rem;
  }

  p {
    margin-top: 0;
    margin-bottom: 1rem;
  }

  a {
    color: rgba(var(--ct-body-bg), var(--ct-link-opacity, 1));
    text-decoration: none;
  }

  a:hover {
    --ct-body-bg: var(--ct-link-hover-color-rgb)
  }

  img {
    vertical-align: middle;
  /* max-width: 100%;
  height: auto;
  object-fit: cover; */
  }

  label {
    display: inline-block
  }

  button {
    border-radius: 0
  }

  button:focus:not(:focus-visible) {
      outline: 0
  }

  button,input,optgroup,select,textarea {
      margin: 0;
      font-family: inherit;
      font-size: inherit;
      line-height: inherit
  }

  .container {
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    /* overflow: hidden; */
  }

  .row {
    width: 100%;
    display: flex;
    flex-direction: row;
  }

  .col-md-6 {
    padding: 20px;
    flex: 1;
    max-height: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .img-fluid {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }

  @media (max-width: 768px) {
    .row {
      flex-direction: column;
    }

    .col-md-6 {
      width: 100%;
      max-height: 50vh; /* Limits height to avoid scrolling */
    }
  }

  .contents {
    animation: fadeIn 0.8s ease-in-out;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .content {
    padding: 7rem 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; }

  h2 {
    font-size: 20px; }

  @media (max-width: 991.98px) {
    .content .bg {
      height: 500px; } }

  .content .contents, .content .bg {
    width: 50%; }
    @media (max-width: 1199.98px) {
      .content .contents, .content .bg {
        width: 100%; } }

  .content .bg {
    background-size: cover;
    background-position: center; }

  .content .btn {
    height: 54px;
    padding-left: 30px;
    padding-right: 30px;
 }

  .social-login a {
    text-decoration: none;
    position: relative;
    text-align: center;
    color: #fff;
    margin-bottom: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: inline-block; }
    .social-login a span {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }
    .social-login a:hover {
      color: #fff; }
    .social-login a.facebook {
      background: #3b5998; }
      .social-login a.facebook:hover {
        background: #344e86; }
    .social-login a.twitter {
      background: #1da1f2; }
      .social-login a.twitter:hover {
        background: #0d95e8; }
    .social-login a.google {
      background: #ea4335; }
      .social-login a.google:hover {
        background: #e82e1e; }


    .form-floating {
      position: relative;
    }

    .form-floating>.form-control,.form-floating>.form-control-plaintext,.form-floating>.form-select {
      height: calc(3.5rem + calc(var(--ct-border-width) * 2));
      min-height: calc(3.5rem + calc(var(--ct-border-width) * 2));
      line-height: 1.25
    }

    .form-floating>label {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
      height: 100%;
      padding: 1rem .9rem;
      overflow: hidden;
      text-align: start;
      text-overflow: ellipsis;
      white-space: nowrap;
      pointer-events: none;
      border: var(--ct-border-width) solid transparent;
      -webkit-transform-origin: 0 0;
      transform-origin: 0 0;
      -webkit-transition: opacity .1s ease-in-out,-webkit-transform .1s ease-in-out;
      transition: opacity .1s ease-in-out,-webkit-transform .1s ease-in-out;
      transition: opacity .1s ease-in-out,transform .1s ease-in-out;
      transition: opacity .1s ease-in-out,transform .1s ease-in-out,-webkit-transform .1s ease-in-out
    }

  .form-control {
    display: block;
    width: 100%;
    padding: .45rem .9rem;
    font-size: .9rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--ct-body-color);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: var(--ct-input-bg);
    background-clip: padding-box;
    border: var(--ct-border-width) solid var(--ct-border-color);
    border-radius: .25rem;
    -webkit-transition: border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
  }

  .form-control:focus {
    color: var(--ct-body-color);
    background-color: var(--ct-input-bg);
    border-color: var(--ct-border-color);
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none
  }

  .form-control::-webkit-input-placeholder {
    color: var(--ct-secondary-color);
    opacity: 1
  }

  .form-control::-moz-placeholder {
      color: var(--ct-secondary-color);
      opacity: 1
  }

  .form-control:-ms-input-placeholder {
      color: var(--ct-secondary-color);
      opacity: 1
  }

  .form-control::-ms-input-placeholder {
      color: var(--ct-secondary-color);
      opacity: 1
  }

  .form-control::placeholder {
      color: var(--ct-secondary-color);
      opacity: 1
  }

  .form-label {
    margin-bottom: .5rem;
  }

  /* -----------valid feedback----------- */
  .valid-feedback {
    display: none;
    width: 100%;
    margin-top: .25rem;
    font-size: .75rem;
    color: var(--ct-form-valid-color)
  }

  .is-valid~.valid-feedback,.is-valid~.valid-tooltip,.was-validated :valid~.valid-feedback,.was-validated :valid~.valid-tooltip {
      display: block
  }

  .form-control.is-valid,.was-validated .form-control:valid {
      border-color: var(--ct-form-valid-border-color);
      padding-right: calc(1.5em + .9rem);
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%2310c469' d='M2.3 6.73.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
      background-repeat: no-repeat;
      background-position: right calc(.375em + .225rem) center;
      background-size: calc(.75em + .45rem) calc(.75em + .45rem)
  }

  .form-control.is-valid:focus,.was-validated .form-control:valid:focus {
      border-color: var(--ct-form-valid-border-color);
      -webkit-box-shadow: 0 0 0 .15rem rgba(var(--ct-success-rgb),.25);
      box-shadow: 0 0 0 .15rem rgba(var(--ct-success-rgb),.25)
  }

  .was-validated textarea.form-control:valid,textarea.form-control.is-valid {
      padding-right: calc(1.5em + .9rem);
      background-position: top calc(.375em + .225rem) right calc(.375em + .225rem)
  }

  .form-control-color.is-valid,.was-validated .form-control-color:valid {
      width: calc(3rem + calc(1.5em + .9rem))
  }

  .form-check-input.is-valid,.was-validated .form-check-input:valid {
      border-color: var(--ct-form-valid-border-color)
  }

  .form-check-input.is-valid:checked,.was-validated .form-check-input:valid:checked {
      background-color: var(--ct-form-valid-color)
  }

  .form-check-input.is-valid:focus,.was-validated .form-check-input:valid:focus {
      -webkit-box-shadow: 0 0 0 .15rem rgba(var(--ct-success-rgb),.25);
      box-shadow: 0 0 0 .15rem rgba(var(--ct-success-rgb),.25)
  }

  .form-check-input.is-valid~.form-check-label,.was-validated .form-check-input:valid~.form-check-label {
      color: var(--ct-form-valid-color)
  }

  .form-check-inline .form-check-input~.valid-feedback {
      margin-left: .5em
  }

  .input-group>.form-control:not(:focus).is-valid,.input-group>.form-floating:not(:focus-within).is-valid,.input-group>.form-select:not(:focus).is-valid,.was-validated .input-group>.form-control:not(:focus):valid,.was-validated .input-group>.form-floating:not(:focus-within):valid,.was-validated .input-group>.form-select:not(:focus):valid {
      z-index: 3
  }

  /* -----------valid feedback END----------- */

  /* -----------invalid feedback----------- */
  .invalid-feedback {
    display: none;
    width: 100%;
    margin-top: .25rem;
    font-size: .75rem;
    color: var(--ct-form-invalid-color)
  }

  .is-invalid~.invalid-feedback,.is-invalid~.invalid-tooltip,.was-validated :invalid~.invalid-feedback,.was-validated :invalid~.invalid-tooltip {
      display: block
  }

  .form-control.is-invalid,.was-validated .form-control:invalid {
      border-color: var(--ct-form-invalid-border-color);
      padding-right: calc(1.5em + .9rem);
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23ff5b5b'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23ff5b5b' stroke='none'/%3e%3c/svg%3e");
      background-repeat: no-repeat;
      background-position: right calc(.375em + .225rem) center;
      background-size: calc(.75em + .45rem) calc(.75em + .45rem)
  }

  .form-control.is-invalid:focus,.was-validated .form-control:invalid:focus {
      border-color: var(--ct-form-invalid-border-color);
      -webkit-box-shadow: 0 0 0 .15rem rgba(var(--ct-danger-rgb),.25);
      box-shadow: 0 0 0 .15rem rgba(var(--ct-danger-rgb),.25)
  }

  .was-validated textarea.form-control:invalid,textarea.form-control.is-invalid {
      padding-right: calc(1.5em + .9rem);
      background-position: top calc(.375em + .225rem) right calc(.375em + .225rem)
  }

  .form-control-color.is-invalid,.was-validated .form-control-color:invalid {
      width: calc(3rem + calc(1.5em + .9rem))
  }

  .form-check-input.is-invalid,.was-validated .form-check-input:invalid {
      border-color: var(--ct-form-invalid-border-color)
  }

  .form-check-input.is-invalid:checked,.was-validated .form-check-input:invalid:checked {
      background-color: var(--ct-form-invalid-color)
  }

  .form-check-input.is-invalid:focus,.was-validated .form-check-input:invalid:focus {
      -webkit-box-shadow: 0 0 0 .15rem rgba(var(--ct-danger-rgb),.25);
      box-shadow: 0 0 0 .15rem rgba(var(--ct-danger-rgb),.25)
  }

  .form-check-input.is-invalid~.form-check-label,.was-validated .form-check-input:invalid~.form-check-label {
      color: var(--ct-form-invalid-color)
  }

  .form-check-inline .form-check-input~.invalid-feedback {
      margin-left: .5em
  }

  .input-group>.form-control:not(:focus).is-invalid,.input-group>.form-floating:not(:focus-within).is-invalid,.input-group>.form-select:not(:focus).is-invalid,.was-validated .input-group>.form-control:not(:focus):invalid,.was-validated .input-group>.form-floating:not(:focus-within):invalid,.was-validated .input-group>.form-select:not(:focus):invalid {
      z-index: 4
  }
  /* -----------valid feedback END----------- */

  .form-check {
    display: block;
    min-height: 1.35rem;
    padding-left: 1.612em;
    margin-bottom: 0
  }

  .form-check .form-check-input {
      float: left;
      margin-left: -1.612em
  }

  .form-check-reverse {
      padding-right: 1.612em;
      padding-left: 0;
      text-align: right
  }

  .form-check-reverse .form-check-input {
      float: right;
      margin-right: -1.612em;
      margin-left: 0
  }

  .form-check-input {
      --ct-form-check-bg: var(--ct-secondary-bg);
      -ms-flex-negative: 0;
      flex-shrink: 0;
      width: 1.112em;
      height: 1.112em;
      margin-top: .194em;
      vertical-align: top;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      background-color: var(--ct-form-check-bg);
      background-image: var(--ct-form-check-bg-image);
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      border: var(--ct-border-width) solid var(--ct-border-color-translucent);
      -webkit-print-color-adjust: exact;
      print-color-adjust: exact
  }

  .form-check-input[type=checkbox] {
      border-radius: .25em
  }

  .form-check-input[type=radio] {
      border-radius: 50%
  }

  .form-check-input:active {
      -webkit-filter: brightness(90%);
      filter: brightness(90%)
  }

  .form-check-input:focus {
      border-color: var(--ct-border-color);
      outline: 0;
      -webkit-box-shadow: 0 0 0 .15rem rgba(83,109,230,.25);
      box-shadow: 0 0 0 .15rem rgba(83,109,230,.25)
  }

  .form-check-input:checked {
      background-color: #536de6;
      border-color: #536de6
  }

  .form-check-input:checked[type=checkbox] {
      --ct-form-check-bg-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e")
  }

  .form-check-input:checked[type=radio] {
      --ct-form-check-bg-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='%23fff'/%3e%3c/svg%3e")
  }

  .form-check-input[type=checkbox]:indeterminate {
      background-color: #536de6;
      border-color: #536de6;
      --ct-form-check-bg-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10h8'/%3e%3c/svg%3e")
  }

  .form-check-input:disabled {
      pointer-events: none;
      -webkit-filter: none;
      filter: none;
      opacity: .5
  }

  .form-check-input:disabled~.form-check-label,.form-check-input[disabled]~.form-check-label {
      cursor: default;
      opacity: .5
}

  .btn-primary {
    width: 90%;
    max-width: 400px;
    padding: 12px;
    font-size: 1rem;
  }

  .control {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 15px;
    cursor: pointer;
    font-size: 14px; }
    .control .caption {
      position: relative;
      top: .2rem;
      color: #888; }

  .control input {
    position: absolute;
    z-index: -1;
    opacity: 0; }

  .control__indicator {
    position: absolute;
    top: 2px;
    left: 0;
    height: 20px;
    width: 20px;
    background: #e6e6e6;
    border-radius: 4px; }

  .control--radio .control__indicator {
    border-radius: 50%; }

  .control:hover input ~ .control__indicator,
  .control input:focus ~ .control__indicator {
    background: #ccc; }

  .control input:checked ~ .control__indicator {
    background: #3127e8; }

  .control:hover input:not([disabled]):checked ~ .control__indicator,
  .control input:checked:focus ~ .control__indicator {
    background: #0d6efd; }

  .control input:disabled ~ .control__indicator {
    background: #e6e6e6;
    opacity: 0.9;
    pointer-events: none; }

  .control__indicator:after {
    font-family: 'icomoon';
    content: '\ea10';
    position: absolute;
    display: none;
    font-size: 16px;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease; }

  .control input:checked ~ .control__indicator:after {
    display: block;
    color: #fff; }

  .control--checkbox .control__indicator:after {
    top: 50%;
    left: 50%;
    margin-top: -1px;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }

  .control--checkbox input:disabled ~ .control__indicator:after {
    border-color: #7b7b7b; }

  .control--checkbox input:disabled:checked ~ .control__indicator {
    background-color: #06defd;
    opacity: .2; }

/* MAIN PAGE STUFF START */

.wrapper {
  height: 100%;
  width: 100%
}

.navbar-custom {
  background: var(--ct-topbar-bg);
  -webkit-box-shadow: var(--ct-box-shadow);
  box-shadow: var(--ct-box-shadow);
  min-height: var(--ct-topbar-height);
  margin-left: var(--ct-leftbar-width);
  position: sticky;
  top: 0;
  -webkit-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
  z-index: 1000;
  border-bottom: var(--ct-theme-card-border-width) solid var(--ct-border-color)
}

.navbar-custom .topbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 auto
}

/* MAIN PAGE STUFF END */


